/* base.html */

body {
    background-color: #fffaf0;
    color: #231010;
    font-family: "futura-pt";
    display: flex;
    min-height: 100vh;
}

/* header */

header {
    width: 100%;
    align-content: center;
    border-bottom: 1px solid;
    width: max-content;
    margin-bottom: 20px;
}

.navbar-collapse {
    display: flex;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 30px;
}

.navbar-brand {
    font-size: 40px;
    padding-left: 30px;
}

.nav-item {
    padding: 0px 25px 0px 25px;
    font-size: large;
    width: min-content;
}

.nav-link:hover {
    text-decoration: underline;
}

/* footer */

footer {
    background-color: #231010;
    color: #fffaf0;
    margin-top: auto;
}

#footer-button {
    color: #fffaf0;
    background-color: #231010;
    border: 1px solid #fffaf0;
    border-radius: 7px;
}

#footer-button:hover {
    background-color: #fffaf0;
    color: #231010;
    border: 1px solid #fffaf0;
} 

.footer-links {
    color: #fffaf0;
    font-size: large;
    padding: 20px;
}

.footer-space1 {
    padding: 10px;
}

.footer-space {
    padding-top: 10px;
}

/* index.html */

.home-rows{
    padding-bottom: 20px;
}

.welcome-img {
    background-image: url('/static/welcome.jpg')
}

.chicken-img {
    background-image: url('/static/chicken.jpg')
}

.reserve-img {
    background-image: url('/static/reserve.jpg')
}

.home-imgs {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.home-divs{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text-boxes{
    margin: 0;
    text-align: center;
    font-size: large;
    padding-left: 60px;
    padding-right: 60px;
}

.home-headers{
    text-decoration: underline;
}

.home-button{
    background-color: #fffaf0;
    color: #231010;
    border: 1px solid #231010;
    border-radius: 7px;
}

.home-button:hover{
    color: #fffaf0;
    background-color: #231010;
    border: 1px solid #fffaf0;
}

/* index.html media queries */

@media screen and (max-width: 900px) {
    .home-text-boxes{
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .home-headers{
        font-size: 24px;
    }
}

@media screen and (max-width: 574px) {

    .home-imgs{
        display: none;
    }

    .home-div-1{
        background-image: linear-gradient(rgba(0, 0, 0, 0.60), 
        rgba(0, 0, 0, 0.60)), url('../welcome.png');
    }

    .home-div-2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.60), 
        rgba(0, 0, 0, 0.60)), url('../chicken.png');
    }

    .home-div-3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.60), 
        rgba(0, 0, 0, 0.60)), url('../reserve.png');
            
    }

    .home-divs{
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        color: white; 
    }

    .home-button {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 7px;
        margin-bottom: 20px;
    }
    
    .home-button:hover {
        color: #231010;
        background-color: white;
        border: 1px solid #fffaf0;
    
    }
    
}

/* menu.html */

.menu-col{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.drinks-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-headers{
    margin-bottom: 30px;
    text-decoration: double;
    margin-top: 20px;
}

.meal-title{
    text-decoration: underline;
}

/* booking.html */

.booking-row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form{
    text-align: center;
}

.menu-container{
    margin-bottom: 300px;
}

.form-button-div{
    margin-top: 30px;
}

.form-button{
    background-color: #231010;
    border: 1px solid #231010;
    color: #fffaf0;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.form-button:hover {
    color: #231010;
    border: 1px solid #231010;
    background-color: #fffaf0;
}

.booking-row{
    text-align: center;
}

.bookings-button{
    background-color: #231010;
    border: 1px solid #231010;
    color: #fffaf0;
    border-radius: 3px;
}

.booking-item{
    border: 1px solid #231010;
    border-radius: 3px;
    padding: 10px;
    list-style-type: none;
    margin: 5px;
}

