{% extends "base.html" %}

{% block content %}

<div class="container-fluid home-body">
    <div class="row home-rows">
        <div class="col-sm-6 home-divs home-div-1">
            <div class="home-text-boxes">
                <h3 class="home-headers">Welcome</h3>
                <p>At "Tables," we've redefined the dining experience, combining
                     artistry, innovation, and a deep appreciation for flavors
                to create a haven for food enthusiasts. Nestled in the heart of 
                Stockholm, Tables offers a dining journey like no
                other. Step into a world where every table tells a unique story,
                 and each dish is a masterpiece of culinary
                craftsmanship.</p>
                <h3 class="home-headers">Our Vision</h3>
                <p>Tables was born from the desire to celebrate the exquisite 
                    marriage of fine dining and contemporary aesthetics. Our
                vision is to set the stage for unforgettable dining moments, 
                offering a symphony of flavors that harmonize with the
                enchanting ambiance, making every visit to Tables a memorable 
                occasion.</p>
                
                
            </div>
        </div>
        <div class="col-sm-6 welcome-img home-imgs"></div>
    </div>
    <div class="row home-rows">
        <div class="col-sm-6 chicken-img home-imgs"></div>
        <div class="col-sm-6 home-divs home-div-2">
            <div class="home-text-boxes">
                <h3 class="home-headers">The Menu</h3>
                <p>Our menu is a carefully curated collection of culinary 
                    artistry, designed by our passionate and innovative chefs. 
                    At Tables, we believe in using the freshest, locally sourced
                     ingredients to create dishes that not only tantalize the 
                     taste buds but also inspire the soul. From the delicate 
                     flavors of our appetizers to the indulgent richness of our 
                     desserts, every dish is a testament to our commitment to 
                     excellence.</p>
                <h3 class="home-headers">Wine and Cocktails</h3>
                <p>To complement your meal, we offer an extensive wine list 
                    featuring selections from around the world, carefully chosen
                     to enhance the flavors of our dishes. Additionally, our 
                     talented mixologists craft signature cocktails that are a 
                     perfect blend of art and science.</p>
                    <a href="{% url 'menu' %}"><button class="home-button">VIEW MENU</button></a>
        
            </div>
        </div>
    </div>
    <div class="row home-rows">
        <div class="col-sm-6 home-divs home-div-3">
            <div class="home-text-boxes">
                <h3 class="home-headers">Exceptional Service</h3>
                <p>At Tables, we understand that exceptional service is as 
                    crucial as exceptional cuisine. Our staff is dedicated to
                ensuring that your dining experience is flawless, from the 
                moment you walk in until the last bite is savored. Whether
                you need recommendations, special dietary accommodations, or 
                assistance with wine pairings, our team is here to make
                your visit extraordinary.</p>
                <h3 class="home-headers">Visit Us Today</h3>
                <p>Experience the magic of Tables and embark on a culinary 
                    journey that will awaken your senses and leave you with
                unforgettable memories. Whether it's a casual lunch, a romantic 
                dinner, or a special celebration, we invite you to make
                a reservation and savor the taste of innovation and elegance.
                Tables - Where Every Table Holds a Story, and Every Bite Tells a Tale.</p>
                    <a href="{% url 'account_signup' %}"><button class="home-button">MAKE RESERVATION</button></a>
        
            </div>
        </div>
        <div class="col-sm-6 reserve-img home-imgs"></div>
    </div>
</div>

{%endblock%}