{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row home-rows">
        <div class="col-sm-6 home-divs"></div>
        <div class="col-sm-6 welcome-img home-imgs"></div>
    </div>
    <div class="row home-rows">
        <div class="col-sm-6 chicken-img home-imgs"></div>
        <div class="col-sm-6 home-divs"></div>
    </div>
    <div class="row home-rows">
        <div class="col-sm-6 home-divs"></div>
        <div class="col-sm-6 reserve-img home-imgs"></div>
    </div>
</div>

{%endblock%}