{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 starter-col">
            <h4 class="menu-headers">Starters</h4>
            {% for meal in meal_list %}
            {% if meal.meal_type == 'starter' %}
            <div class="row">
                <h6>{{ meal.title}}</h6>
                <p>{{ meal.excerpt }}</p>
                <p>{{ meal.price }} kr</p>

            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4 starter-col">
            <h4 class="menu-headers">Mains</h4>
            {% for meal in meal_list %}
            {% if meal.meal_type == 'main' %}
            <div class="row">
                <h6>{{ meal.title}}</h6>
                <p>{{ meal.excerpt }}</p>
                <p>{{ meal.price }} kr</p>
        
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4 starter-col">
            <h4 class="menu-headers">Desserts</h4>
            {% for meal in meal_list %}
            {% if meal.meal_type == 'dessert' %}
            <div class="row">
                <h6>{{ meal.title}}</h6>
                <p>{{ meal.excerpt }}</p>
                <p>{{ meal.price }} kr</p>
        
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="row drinks-div">
        <div class="col-12 starter-col">
            <h4 class="menu-headers">Beverages</h4>
            <div class="row">
            {% for meal in meal_list %}
            {% if meal.meal_type == 'drink' %}
            <div class="col-md-4">
                <h6>{{ meal.title}}</h6>
                <p>{{ meal.excerpt }}</p>
                <p>{{ meal.price }} kr</p>
            </div>
            
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{%endblock%}